<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="BlobEndpoint=https://dwlapi.blob.core.windows.net/;DefaultEndpointsProtocol=https;AccountName=dwlapi;AccountKey=2JV9WGnC0o+OimTwxdMEIQJuSQyvxdk7BrDRCigbJtJySYwgNAzKIga8YX8SHWkeMsOW0WUMXKMWvEurR61mkw=="/>
  </appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>